<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8" />
    <title>NBA Shot Map</title>
</head>
<body>
    <div>
        <h1>NBA Shot Comparison</h1>
        <label for="team-select">Team:</label>
        <select id="team-select"></select> <!--add team options-->

        <label for="player-select">Player:</label>
        <select id="player-select"></select> <!--add players-->

        <button id="generate-button">See Graph</button>
    </div>


    <div id="graph-container">
        <img id="graph-image" src="" alt="Graph will appear here" style="max-width:500px; margin-top:20px;" />
    </div>

    <script src="../static/script.js"></script>
    
</body>
</html>