<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8" />
    <title>NBA Shot Map</title>
</head>
<body>
    <h1>NBA Shot Comparison</h1>

    <label for="team-select">Team:</label>
    <select id="team-select"></select> <!--add team options-->

    <label for="player-select">Player:</label>
    <select id="player-select"></select> <!--add players-->

    <button id="generate-button">See Graph</button>

    <div id="graph-container">
        <img id="graph-image" src="" alt="Graph will appear here" style="max-width:500px; margin-top:20px;" />
    </div>

    <script src="../static/script.js"></script>

    <!-- <div class="screen">
        <div class="court">
            <img src="../players/BamAdebayo.png" alt="Bam" height="300" width="400">
            <img src="../players/NikolaJokić.png" alt="Nikola" height="300" width="400">
        </div>

        <div class="function">
            <h1>NBA Shot Comparison</h1>

            <div class="player">
                <h2>Player 1</h2>
                <p>Team:</p>
                <p>Player:</p>
                <button onclick="generateGraph()">See Graph</button>
            </div>

            <div class="player">
                <h2>Player 2</h2>
                <p>Team:</p>
                <p>Player:</p>
                <button onclick="generateGraph()">See Graph</button>
            </div>

        </div>

    </div> -->
    
    
    
</body>
</html>